extends ../layout

block content
  .page-header
    h3 Registro
  form.form-horizontal(id='signup-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='email') Correo
      .col-sm-7
        input.form-control(type='email', name='email', id='email', placeholder='Correo', autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='password') Contrase単a
      .col-sm-7
        input.form-control(type='password', name='password', id='password', placeholder='Contrase単a', required)
    .form-group
      label.col-sm-3.control-label(for='confirmPassword') Confirmar Contrase単a
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirmar Contrase単a', required)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-user-plus
          | Registrarme
