footer
  .container.text-center
    p.pull-left © 2017 CleanSuit. Todos los derechos reservados.
    ul.pull-right.list-inline
      li
        a(href='https://github.com/wfpc92/cleansuit-server') GitHub
