.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href='/')
         img(src='/img/logo.png')
//-      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
//-        span.sr-only Menú de navegación
//-        span.icon-bar
//-        span.icon-bar
//-        span.icon-bar
//-      a.navbar-brand(href='/')
//-        i.fa.fa-cube
//-        | CleanSuit
//-    .collapse.navbar-collapse
//-      ul.nav.navbar-nav
//-        li(class=(title == 'Contact') ? 'active' : undefined)
//-          a(href='/contact') Contacto
//-        li
//-          a(href='/status') Status
//-      ul.nav.navbar-nav.navbar-right
//-        if !user
//-          li(class=(title == 'Iniciar Sesión') ? 'active' : undefined)
//-            a(href='/ingresar') Entrar
//-          li(class=(title == 'Registrarse') ? 'active' : undefined)
//-            a(href='/registrar') Registrarse
//-        else
//-          li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
//-            a.dropdown-toggle(href='#', data-toggle='dropdown')
//-              if user.profile.url_foto
//-                img(src=user.profile.url_foto)
//-              else
//-                img(src=user.gravatar(60))
//-              span= user.nombre || user.correo || user.id
//-              i.caret
//-            ul.dropdown-menu
//-              li
//-                a(href='/account') Mi Cuenta
//-              li.divider
//-              li
//-                a(href='/logout') Salir
