extends layout

block content
  h1 CleanSuit
  hr
  .row
    .col-sm-6
      h2 Únete al cambio: piensa en verde
      p Se parte de nuestra Boutique Ecológica especializada en limpieza e ingresa al futuro de la limpieza.
      p
        a.btn.btn-default(href='#', role='button') Conoce más »
    .col-sm-6
      h2 No salgas de tu casa para ir a la lavandería
      p Ingresa y se parte de nuestra lavandería Online.
      p
        a.btn.btn-default(href='#', role='button') Suscríbete »
