@import "~ng-admin/lib/sass/ng-admin.scss";

.navbar {
  min-height: 60px;
}
.navbar-brand {
  height: 60px;
}
.navbar-brand > img {
  margin: -15px 10px;
}
.navbar-right > li > a {
  padding: 20px !important;
}
.navbar-top-links .dropdown-menu li a {
  padding: 10px 20px;
}
@media (min-width: 768px) {
  .sidebar {
    margin-top: 61px;
  }
}

.poster_mini_thumbnail {
  max-width: 25px;
  max-height: 25px;
}

.navbar-right > li > a {
  padding-top: 15px;
}

table.items > tbody > tr > td {
  vertical-align: middle;
}

.form-horizontal .date_widget {
  width: 11em;
}

basket .grid {
  display: table !important;
}
.grid .ng-admin-column-total_spent,
.grid .ng-admin-type-amount {
  text-align: right;
  padding-right: 1em;
}
.grid input {
  font-size: 12pt !important;
  padding: 5px 10px !important;
}
.grid .ng-admin-type-amount input {
  text-align: right;
}
.grid .ng-admin-type-img {
  text-align: center;
}

// Basket
.form-control.delivery_fees {
  padding-right: 0;
}

.transparent {
  color: transparent;
}

.order-box {
  background: rgba(245, 245, 245, 0.5);
  padding: 15px 20px 5px;
  margin-bottom: 15px;
}

// customized
// list
td.ng-admin-column-url_imagen {
  text-align: center;
}
// products.forms
textarea#desc_corta {
  height: 80px;
}
